<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
     <link rel="stylesheet" href="/css/style.css">
    <title>Tech Blog</title>
    <!-- font for navbar -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Georama:wght@300&family=Unbounded&display=swap" rel="stylesheet">
    <!-- font for blog -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Georama:wght@300&family=Unbounded:wght@200&display=swap" rel="stylesheet">  
</head>

<header>
    <nav>
        {{!-- {{#if logged_in}} --}}
        <h1>Tech Blog </h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="">Dashboard</a></li>
                <li></li><a href="/login">Login</a></li>
                <li></li><a href="">Logout</a></li>
            </ul>
    </nav>
</header>
<body>
    <div class="containerPost">

    </div>
    <div>

    </div>
    <div>

    </div>
</body>
</html>