{{#if logged_in}}

    <div class="containerPost">
        <div class = "dashboard-container">
    {{#each blogs as |blog|}}
    <p class = 'containerPost'>
    {{title}},
    <br>
    {{body}}
    </p>
    </div>
{{/if}}