

        {{#each blogs as |blog|}}
        <div >
        <p class='containerPost'>
            {{blog.title}},
            <br>
            {{blog.body}}
        </p>
        </div>
        {{/each}}
    
