<header>
    <nav>
        {{!-- {{#if logged_in}} --}}
        <h1>Tech Blog </h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/project">Dashboard</a></li>
                <li></li><a href="/login">Login</a></li>
                <li></li><a href="">Logout</a></li>
            </ul>
    </nav>
</header>
<body>
    <div class="containerPost">

    </div>
    <div>

    </div>
    <div>

    </div>
</body>
</html>