

<div class="containerPost">
    <div class="dashboard-container">
        {{#each blogs as |blog|}}
        <div class="containerPost">
        <p class='containerPost'>
            {{blog.title}},
            <br>
            {{blog.body}}
        </p>
        </div>
        {{/each}}
    </div>
