<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <title>Tech Blog</title>
    <!-- font for navbar -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Georama:wght@300&family=Unbounded&display=swap" rel="stylesheet">
    <!-- font for blog -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Georama:wght@300&family=Unbounded:wght@200&display=swap" rel="stylesheet">
    
</head>

<header>
    <nav>
        <h1>Tech Blog </h1>
            <ul>
                <li>Home</li>
                <li>Dashboard</li>
                <li>Login</li>
                <li>Logout</li>
            </ul>
    </nav>
</header>
<body>
   
    <div >
    <button type="button" class="btn-primary" id="btn-newPost">New Post</button>
    </div>
    <div id="postBlog">
        <h2>Create Post</h2>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        <br>
        <label for="content">Content:</label>
        <br>
        <textarea id="content" name="content" rows="35" width="500px" required></textarea>
        <br>
        <button class="btn-primary" id="#btn-createPost">Create Post</button>
    </div>

    
</body>
</html>