
    <div class="login-page">
        <div class="login-card">
            <h3>Login</h3>
            <br>
            <form id="login-form">
                <div>
                    <label for="name-login">Name:</label>
                    <br>
                    <input class="form-input" type="text" id="name-login"/>
                </div>
                <div>
                    <label for="password-login">Password:</label>
                    <br>
                    <input class="form-input" type="text" id="password-login"/>
                </div>
                <div>
    
                    <button class="btn-primary" type="submit">Login</button>
                </div>
            </form>
        </div>
        <div class="signin-card">
            <h3>Sign-Up</h3>
            <br>
            <form id="sign-form">
                <div>
                    <label for="username-signup">Username:</label>
                    <br>
                    <input class="form-input" type="text" id="username-signup"/>
                </div>
                
                <div>
                    <label for="email-signup">Email:</label>
                    <br>
                    <input class="form-input" type="password" id="email-signup"/>
                </div>
                
                <div>
                    <label for="password-signup">Password:</label>
                    <br>
                    <input class="form-input" type="password" id="password-signup"/>
                </div>
                <div>
                    <br>
                    <button class="btn-primary" type="submit" >Sign-Up</button>
                </div>
            </form>
        </div>
    </div>

    </div>
    
    <script src="/js/login.js"></script>

