
    <section class="login-page">
        <div class="login-card","login-page">
            <h3>Login</h3>
            <br>
            <form id="login-form">
                <div>
                    <label for="username-input-login">Username:</label>
                    <br>
                    <input class="form-input" id="username-input-login"/>
                </div>
                <div>
                    <label for="password-login">Password:</label>
                    <br>
                    <input class="form-input" type="password" id="password-login"/>
                </div>
                <br>
                <div>
                    <button class="btn-primary" type="submit">Login</button>
                </div>
            </form>
        </div>
        <div class="signin-card","login-page">
            <h3>Sign-Up</h3>
            <br>
            <form id="sign-form">
                <div>
                    <label for="username-signup">Username:</label>
                    <br>
                    <input class="form-input" type="text" id="username-signup"/>
                </div>
                <div>
                    <label for="password-signup">Password:</label>
                    <br>
                    <input class="form-input" type="password" id="password-signup"/>
                </div>
                <div>
                    <br>
                    <button class="btn-primary" type="submit" >Sign-Up</button>
                </div>
            </form>
        </div>
    </div>

    </section>
    
    <script src="/js/login.js"></script>

