*{
    margin: 0px;
    padding: 0px;
    font-size: 'Georama', sans-serif;
    font-family: 'Unbounded', sans-serif;
    background-color: rgb(135, 176, 88);
}

nav {
    margin: 0px;
    padding: 20px;
    height: 90 px;
    text-indent: 20px;
    font-weight: 400;
    font-size: 700;
}

h1 {
    font-size: 90px;
}

ul{

    text-align: right;
    font-size: 20px;

}

li{
    display: inline;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;  
}

.containerPost {
    margin: 20px;
    height: 250px;
    border: 5px solid black;
    border-radius: 5px;
    width: 1000px;
    font-size: 'Georama', sans-serif;
    font-family: 'Unbounded', sans-serif;
    font-size: 15px;
    font-weight: 200;
    position: absolute;
    /* top: 5px; */
    left: 300px;
    /* justify-content: center; */
}