*{
    margin: 0px;
    padding: 0px;
    font-size: 'Georama', sans-serif;
    font-family: 'Unbounded', sans-serif;
    background-color: rgb(135, 176, 88);
}

nav {
    margin: 0px;
    padding: 20px;
    height: 90 px;
    text-indent: 20px;
    font-weight: 400;
    font-size: 700;
}

h1 {
    font-size: 90px;
}

ul{

    text-align: right;
    font-size: 20px;
    justify-content: space-between;

}

a{
    color: black;
    text-decoration: none;
}

li{
    display: inline;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 30px;  
}

h2{
    text-align: left;
}
a:hover{
    color: white;
}

.containerPost {
    margin: 20px;
    height: 250px;
    border: 5px solid black;
    border-radius: 5px;
    width: 1000px;
    font-size: 'Georama', sans-serif;
    font-family: 'Unbounded', sans-serif;
    font-size: 15px;
    font-weight: 200;
    position: absolute;
    left: 300px;
    
}

.login-card{
    margin-top: 100px; 
    height: 200px;
    border: 5px solid black;
    border-radius: 5px;
    width: 350px;
    font-size: 'Georama', sans-serif;
    font-family: 'Unbounded', sans-serif;
    font-size: 15px;
    font-weight: 200;
    position: absolute;
    left: 450px;
    justify-content:space-between;
    /* text-align: center;*/
}

.signin-card{
    margin-top: 100px;
    height: 200px;
    border: 5px solid black;
    border-radius: 5px;
    width: 350px;
    font-size: 'Georama', sans-serif;
    font-family: 'Unbounded', sans-serif;
    font-size: 15px;
    font-weight: 200;
    position: absolute;
    left: 900px;
    justify-content:space-between;
    /* text-align: center; */
}

.login-page{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.btn-primary{
    align-self: center;
    background-color: black;
    color: white;
}